{% extends 'MvBlogBundle::admin-layout.html.twig' %}
{% set page_title = 'admin.secured.title'|trans({}, 'MvBlogBundle') %}

{% block title %}{{ page_title }} - {{ parent() }}{% endblock %}

{% block content_body %}
<h1>{{ page_title }}</h1>

<p>
    {{ 'admin.secured.index'|trans({}, 'MvBlogBundle') }}
</p>
{% endblock %}
