root { 
  display: block;
}

H1{
  margin: 0 0 1em 0;
  font-size: 1.4em;
}

/******** FORM STYLES *************/
FORM DIV > LABEL {
  margin: 10px 0 0 0;
  font-weight: bold;
  font-size: 1.1em;
  display: block;
}

INPUT[type=text], TEXTAREA {
  width: 680px;
  padding: 1px 5px;
}

UL.record_actions {
  list-style: none;
  padding: 6px 10px;
}

UL.record_actions > LI{
  display: inline-block;
  margin-right: 10px;
}

UL.record_actions > LI A{
  text-decoration: none;
}

UL.record_actions > LI A:hover{
  text-decoration: underline;
}
/**********************************/

/******** LIST STYLES *************/
TABLE.records_list {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

TABLE.records_list TH, TABLE.records_list TD{
  padding: 2px 4px;
  text-align: left;
}


TABLE.records_list > TBODY > TR.mv_blog_sub_category TD:first-child { padding-left: 10px; }

UL.records_list_actions {
  list-style: none;
  padding: 6px 10px;
  margin: 0;
}

UL.records_list_actions > LI A{
  text-decoration: none;
}

UL.records_list_actions > LI A:hover{
  text-decoration: underline;
}
/**********************************/

.clear{
  clear: both;
}

DIV#mv_blog_page {
  width: 1000px;
  margin: 0 auto;
}

DIV#mv_blog_menu_left {
  width: 240px;
  padding: 10px;
  float: left;
  min-height: 500px;
}

DIV#mv_blog_menu_left UL {
  list-style: none;
  padding: 0;
  margin: 0;
}

DIV#mv_blog_menu_left UL LI {
  padding: 6px 10px;
}

DIV#mv_blog_menu_left UL > LI A{
  text-decoration: none;
}

DIV#mv_blog_menu_left UL > LI A:hover{
  text-decoration: underline;
}

DIV#mv_blog_body {
  float: left;
  width: 715px;
  padding: 10px 10px 10px 15px;
}

.mv_blog_mention {
  font-size: 0.9em;
  font-style: italic;
}