BODY {  background-color: #666; }
INPUT[type=text],
INPUT[type=email],
INPUT[type=url],
TEXTAREA {  border: 1px solid #ccc; }
A{ color: #444; }
A:hover{ color: #222; }
PRE { background-color: #fcfcfc; border: 1px solid #EEEEEE; }

UL.record_actions { background-color: #ddd; }
UL.record_actions > LI A,
UL.records_list_actions > LI A,
UL.records_list_actions > LI A:hover { color: #444; }
UL.record_actions > LI A:hover{ color: #222; }

TABLE.records_list { border: 1px solid #aaa; }
TABLE.records_list TH + TH,
TABLE.records_list TD + TD { border-left: 1px dotted white; }
TABLE.records_list > THEAD > TR { background-color: #444; color: #eee; }
TABLE.records_list > TBODY > TR.odd { background-color: #ccc; }
TABLE.records_list > TBODY > TR.even { background-color: #ddd; }
TABLE.records_list > TBODY > TR.mv_blog_sub_category.odd { background-color: #e5e5ff; }
TABLE.records_list > TBODY > TR.mv_blog_sub_category.even { background-color: #eaeaff; }

DIV#mv_blog_page { background-color: #fdfdfd; }

DIV#mv_blog_menu_left { background-color: inherit; color: #555; }
DIV#mv_blog_menu_left > UL > LI { border-bottom: 1px solid #aaa; }
DIV#mv_blog_menu_left UL > LI A{ color: inherit; }
DIV#mv_blog_menu_left UL > LI A:hover{ color: #aaa; }

DIV.mv_blog_article_list.odd { background-color: #f9f9f9; }
DIV.mv_blog_article_list.even { background-color: #fcfcfc; }

UL.article_categories { border: 1px solid #eee; }
UL.article_categories LI { color: #ddd; }
UL.article_categories LI A { color: #666; }

.mv_blog_mention { color: #aaa; }